<% include partials/header %>

<div class="container" style="padding: 5%">
    <h2 class="page-heading" align="center">Welcome to the Fun Page!</h2>
    <div class="ui main text segment">
        <iframe src="http://www.staggeringbeauty.com/" style="border: 1px inset #ddd" width="100%" height="600"></iframe>
    </div>

    <div class="ui main text segment">
        <iframe src="http://www.cat-bounce.com/" style="border: 1px; inset#ddd" width="100%" height="600"></iframe>
    </div>

    <div class="ui main text segment">
        <iframe src="http://chrismckenzie.com/" style="border: 1px; inset#ddd" width="100%" height="600"></iframe>
    </div>

    <div class="ui main text segment">
        <iframe src="http://www.taghua.com/" style="border: 1px; inset#ddd" width="100%" height="600"></iframe>
    </div>

    <div class="ui main text segment">
        <iframe src="http://www.leduchamp.com/" style="border: 1px; inset#ddd" width="100%" height="600"></iframe>
    </div>

    <div class="ui main text segment">
        <iframe src="http://www.yesnoif.com/" style="border: 1px; inset#ddd" width="100%" height="600"></iframe>
    </div>

    <div class="ui main text segment">
        <iframe src="http://www.intotime.com/" style="border: 1px; inset#ddd" width="100%" height="600"></iframe>
    </div>
</div>
<% include partials/footer %>